html{
    background-color: #D9DFEB;
    /*
    From the MIT licensed normalize.css file
    */
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;


}

body{
    font-family: 'Lato',sans-serif;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.box{
    display:flex;
    flex-wrap:wrap;

    justify-content:left;
}

/*Header nav bar*/
ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0.5rem 0rem;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    background-color:#2B2E41;

  }
li.menu {
    float: left;
}

li.nav-bar-item a{
    display: block;
    color:white;
    text-align: center;
    padding: 1rem 1rem;

    text-decoration: none;
}
.menu a{
    transform:translateY(20%);
}
li.menu a:hover{
    background-color: #999999;
    transition:background-color 0.3s ease-out;
}

a:visited{
    text-decoration: none;
}

.nav-bar-home a{
    text-align: left;
    font-size: 2.5rem;
    font-weight: bold;
    transform:translateY(-10%);
}

/*Footer*/
*, *::after, *::before{
    box-sizing: border-box;
}

footer{
    background-color: #2B2E41;
    color: #FFFFFF;
    margin-top: 3rem;
}

.footer h3{
    color: white;
    padding-left: 1rem;
}

.footer ul{
    list-style-type: none;
}

.erl{
 background-color: #ff5555;
 display: inline-block;
 padding: 0.5rem;
 border-radius: 1rem; /*https://www.w3schools.com/css/css3_borders.asp*/
}

.emergency-line-and-copyright{
    align-self: flex-end;
    text-align: right;
    padding-right: 1rem;
}

.copyright-info{
    padding-left: 1rem;
}

.sm-handle img{
    vertical-align: middle;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    max-width: 20%;
}
