/*Most of this CSS document is adapted from Paul Brokenshire's lectures on 21/06/2020 and 06/07/2020, with help from W3Schools*/
body {
 font-family: 'Lato', sans-serif; /*Adapted From Paul Brokenshire's lecture on 29/06/2020*/
 font-size: 1.25rem;
 margin: 0;
 background-color: #D9DFEB;
}

body a{
 color: black
}

body a:hover, body a:focus{
 color: #333333;
}

h1, .title{
 font-size: 3rem;
 margin: 0 1rem 1rem 1rem;
}

.title{
 font-weight: bold;
 transform: translateY(10%);
}
.title:hover, .title:focus{
 color: #EEEEEE;
}

.subsection{
 color: white;
 font-weight: bold;
}

h2{
 font-size: 2rem;
 margin: 1rem 1rem 1rem 1rem;
 font-weight: normal;
 color: black;
}

h2 a{
 font-style: italic;
 text-decoration: none;
}

h3{
 margin: 1rem 1rem 1rem 1rem;
}

h4{
 margin: 1.5rem 1rem 1rem 1rem;
 font-weight: normal;
}

p, ul, ol{
 font-size: 1rem;
 margin-left: 1rem;
 margin-right: 1rem;
}

.li-item{ /*https://stackoverflow.com/questions/19254411/how-do-i-set-vertical-space-between-list-items*/
  margin: 1em;
}

.hero-text{ /*Adapted From Paul Brokenshire's lecture on 06/07/2020*/
 display: inline-block;
 color: white;
 background: rgba(0, 31, 66, 0.4);
 padding: 1rem 1rem 3rem 1rem;
 margin: 0 2rem 2rem 2rem;
 font-style: normal;
 font-weight: normal;

 position: absolute;
 bottom: -5rem;
 left: 0;
 width: calc(100% - 4rem); /*https://stackoverflow.com/questions/10378292/is-it-possible-to-do-mathematics-inside-css*/
}

.white-text{
 color: white;
}

img{
 margin: 0;
 height: auto;
 max-width: 100%;
}

#steps, #recognize, #tips, #first-aid, #notes{ /*https://www.w3schools.com/cssref/sel_id.asp*/
 background-color: #2B2E41;
 margin-top: 2rem;
 margin-bottom: 2rem;
 padding: 0.5rem 0 2rem 0;
}

#hero{
 padding: 0 0 4rem 0;
}

#pages{
 background-color: #2B2E41;
 margin-top: 2rem;
 padding-top: 0.5rem;
}

.page-link{
 margin-top: -1rem;
}

#pages a{ /*Adapted From Paul Brokenshire's lecture on 06/07/2020*/
 display: inline-block;
 color: white;
 background: rgba(0, 0, 0, 0.4);
 padding: 1rem;
 font-style: normal;
 font-weight: normal;

 position: absolute;
 bottom: 4px;
 left: 0;
 width: 100%;
}

.hero-img{ /*https://alligator.io/css/cropping-images-object-fit/*/
 width: 100%;
 height: 50rem;
 object-fit: cover;
}

.rcg-img{
 margin: 0 1rem 1rem 1rem;
 width: 100%;
 height: auto;
 object-fit: cover;
 float: left;
 clear: left;
 transform: translateY(2.5%);
}

.step-img{
 width: 100%;
 height: 20rem;
 object-fit: cover;
}

.page-img{
 width: 100%;
 height: 30rem;
 object-fit: cover;
}

figure{
 margin: 0;
}

a{
 text-decoration: none;
}

header{
 margin: 0 0rem 0rem 0rem;
 background-color: #2B2E41;
 padding: 0.5rem;
}

header h1 a{
 margin: 0 1rem 0.25rem 0rem;
 color: white;
}

.socials-img{
 vertical-align: middle;
}

.erl{ /*Adapted From Paul Brokenshire's lecture on 29/06/2020*/
 background-color: #ff5555;
 display: inline-block;
 padding: 0.5rem;
 border-radius: 1rem; /*https://www.w3schools.com/css/css3_borders.asp*/
}

.mockup{ /*Adapted From Paul Brokenshire's lecture on 29/06/2020*/
 margin-top:1rem;
 border-style: solid;
}
