*,*::after,*::before{
    box-sizing: border-box;
}

html{
    background-color: #D9DFEB;
    /*
    From the MIT licensed normalize.css file
    */
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    
}

footer{
    background-color: #2B2E41;
    color:white;
    padding:1rem;
}

/*
Flexbox
*/
body{
    font-family: 'Lato',sans-serif;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.box{
    display:flex;
    flex-wrap:wrap;

    justify-content:left;
}
.box-item-nav{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}


/*Footer*/
.box-1of3{
    flex: 1 1 20%;
    margin:1rem;
}
.box-2of3{
    flex: 1 1 50%;
    margin:1rem;
    align-self:flex-end;
    text-align:right;
}


.emergency{
    background-color: #ff5555;
    font-size:smaller;
    display:inline-block;
    padding:0.5rem;
    border-radius: 1rem; /*https://www.w3schools.com/css/css3_borders.asp*/
}



/*
Unordered list navbar method from https://www.w3schools.com/css/css_navbar.asp
*/
ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0.5rem 0rem;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    background-color:#2B2E41;

  }
li.menu {
    float: left;
}

li.nav-bar-item a{
    display: block;
    color:white;
    text-align: center;
    padding: 1rem 1rem;
    
    text-decoration: none;
}
.menu a{
    transform:translateY(20%);
}
li.menu a:hover{
    background-color: #999999;
    transition:background-color 0.3s ease-out;
}

a:visited{
    text-decoration: none;
}

.nav-bar-home a{
    text-align: left;
    font-size: 2.5rem;
    font-weight: bold;
    transform:translateY(-10%);
}


ul.socials{
    list-style-type:none;
    padding-left: 0;
}

.socials li{
    line-height: 5rem;
}

.socials-inline{
    vertical-align: middle;
}
.socials-text{
    text-decoration: none;
    color:white;
    font-size: large;
}



/*Header image stuff*/
.container {
    position: relative;
    text-align: left;
    color: white;
    
}
.header-image{
    object-fit: cover; /*https://alligator.io/css/cropping-images-object-fit/ */
    height: 75vh;
    width: 100%;
}
.centered-on-image {
    position: relative;

    transform:translate(0rem,-150%);
  }

.container figcaption{
    display:inline-block;
    color:white;
    background:#0b2b5e99;
    
    padding-left:1rem;
    padding-bottom:2rem;
    padding-right: 1rem;

}


/*Information panels*/
figure{
    margin:0;
}

.box-item-1of4{
    flex:1 1 50%;
    padding:0px;

    position: relative;
}

.info-image{
    /*object-fit: cover;*/
    width:100%;
    height:100%;

    /*transform:translate(0,-8rem);*/
}

.box-item-1of4 figcaption{
    display: inline-block;
    color:white;
    background:#000000B9;
    padding-left:1rem;

    position: absolute;
    bottom:0;
    left:0;
    width:100%;
}

@media (max-width:900px){
	.box-item-1of4{
        flex-basis:100%;
        margin-top: 0;
	}
}

/*break*/
.break{
    background-color: #D9DFEB;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top:5rem;
}

/*News panels*/
.news-bar{
    background-color:#2B2E41;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top:1rem;
}

.news-item-1of4{
    flex: 1 1 20%;
    background-color: white;
    margin:1rem;

}
.news-image{
    object-fit:cover;
    width:100%;
    height:50%;

}

.news-bar a figcaption{
    text-decoration:none;
    margin:1rem;
}

@media (max-width:400px){
	.news-item-1of4{
        flex-basis:100%;
        margin-top: 0;
	}
}
.news-item-1of4 a:active, a:hover, a:visited, a{
    text-decoration: none;
    color:black;
}
.news-item-1of4 h2{
    text-size-adjust: auto;
}