/* flexbox formatting css */
*, *::after, *::before{
    box-sizing: border-box;
}

.box{
    display: flex;
    flex-wrap: wrap;
}

.recent-news-container{
    justify-content: space-around;
}

.recent-news-item{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    max-width: 40%;
}

/*media query for mobile ish dimensions*/
@media(max-width: 50em){
    .box{
        flex-flow: column;
    }

    .recent-news-item{
        max-width: 80%;
        align-self: center;
    }
}
/* visual styling css */

body{
    background-color: #D9DFEB;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3{
    color: #2B2E41;
}

h1{
    font-size: 3rem;
    vertical-align: bottom;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

p{
    color: #2B2E41;
    max-width: 100%;
}

img{
    height: auto;
    width: auto;
    max-width: 100%;
}

.recent-news{
    background-color: #2B2E41;
    color: #FFFFFF;
}

.recent-news-title {
    color: #FFFFFF

}

.recent-news-item{
    background-color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 3rem;
}

.article-text{
    padding-left: 1rem;
    padding-right: 1rem;
}

.news-thumbnail-image{
    object-fit: cover;
    width: 100%;
    height: 330px;
}


