/* flexbox formatting css */
*, *::after, *::before{
    box-sizing: border-box;
}

.box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.box-item-1of2{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    max-width: 40%;
}

@media(max-width: 50em){
    .box{
        flex-flow: column;
    }

    .box-item-1of2{
        max-width: 80%;
        align-self: center;
    }
}
/* visual styling css */

body{
    background-color: #D9DFEB;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3{
    color: #2B2E41;
}

h1{
    font-size: 3rem;
    vertical-align: bottom;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

p{
    color: #2B2E41;
    max-width: 100%;
}

img{
    height: auto;
    width: auto;
    max-width: 100%;
}

.recent-news{
    background-color: #2B2E41;
}

.recent-news-title{
    color: #FFFFFF
}

.box-item-1of2{
    background-color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 3rem;
}

.article-text{
    padding-left: 1rem;
    padding-right: 1rem;
}

/* header nav css */
ul.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0.5rem 0rem;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    background-color:#2B2E41;

  }
  
li.menu {
    float: left;
}

li.nav-bar-item a{
    display: block;
    color:white;
    text-align: center;
    padding: 1rem 1rem;

    text-decoration: none;
}
.menu a{
    transform:translateY(20%);
}
li.menu a:hover{
    background-color: #999999;
    transition:background-color 0.3s ease-out;
}

a:visited{
    text-decoration: none;
}

.nav-bar-home a{
    text-align: left;
    font-size: 2.5rem;
    font-weight: bold;
    transform:translateY(-10%);
}



/* footer css */
footer{
    background-color: #2B2E41;
    color: #FFFFFF;
    margin-top: 3rem;
}

.footer h3{
    color: white;
    padding-left: 1rem;
}

.footer ul{
    list-style-type: none;
}

.box-item-footer{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.emergency-line-and-copyright{
    align-self: flex-end;
    text-align: right;
    padding-right: 1rem;
}

@media(max-width: 50em){
    .emergency-line-and-copyright{
        align-self: flex-start;
        text-align: left;
    }
}

.copyright-info{
    padding-left: 1rem;
}

.sm-handle img{
    vertical-align: middle;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    max-width: 20%;
}