/* flexbox formatting css */
*, *::after, *::before{
	box-sizing: border-box;
}

.box{
	display: flex;
	flex-wrap: wrap;
}

.other-news-container{
	justify-content: left;
}

.other-news-item{
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;
	max-width: 50%;
}

@media(max-width: 50em){
	.box{
		flex-flow: column;
	}

	.other-news-item{
		max-width: 100%;
	}
}
/* visual styling css */

body{
	background-color: #D9DFEB;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3{
	color: #2B2E41;
}

h1{
	font-size: 3rem;
	vertical-align: bottom;
	padding-top: 1.5rem;
	padding-left: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 0;
}

p{
	color: #2B2E41;
	max-width: 100%;
}

img{
	height: auto;
	width: auto;
	max-width: 100%;
}

.image-area{
	background-color: #2B2E41;
}

.main-article{
	background-color: #FFFFFF;
}

.main-article-text{
	padding-left: 1rem;
	padding-bottom: 1rem;
}

figure{
	position: relative;
}

.other-articles h2{
	background-color: #2B2E41;
	color: #FFFFFF;
	padding-bottom: 1rem;
	padding-top: 1rem;
	padding-left: 1rem;
	margin-top: 3rem;
	margin-bottom: 0;
}

.other-article-link a{
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 1rem;

	color: #FFFFFF;
	font-size: 1.5rem;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.7);
}

.other-article-image{
	object-fit: cover;
	width: 100%;
	max-height: 330px;
}

.other-news-item figure{
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}


