


/* visual styling css */

body{
    background-color: #D9DFEB;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3{
    color: #2B2E41;
}

h1{
    font-size: 3rem;
    vertical-align: bottom;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
}

p{
    color: #2B2E41;
    max-width: 100%;
}

img{
    height: auto;
    width: auto;
    max-width: 100%;
}

.hero-text{
    color:white;
}




